<!DOCTYPE html>
<html>
 

   

<div class="container container-fluid justify-content-center mt-50">
  <div class=" justify-content-center mt-30">
  <div class="welcome-section">
     <mat-spinner *ngIf="isloading" class="spinner"></mat-spinner>    
    
  
    <h2>Welcome</h2>
    <p></p>
  </div>

  <p></p>
  <div>
    * Indicates required fields
  </div>

  <mat-tab-group class="auth-tabs">
    <mat-tab label="LOGIN">
      <p></p>
      <form [formGroup]="Profile" class="form-section">

       <mat-form-field appearance="outline">
        <mat-label>
            Username
        </mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput  formControlName="username" placeholder="Username"/>
        <mat-error *ngIf="Profile.get('username')?.hasError('required')">
          Username is required  
        </mat-error>
        <mat-error *ngIf="Profile.get('username')?.hasError('minlength')">
          Username must be at least 3 characters long
        </mat-error>
        

       </mat-form-field>

        
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput type="password" placeholder="Password" formControlName="password" />
          <mat-error *ngIf="Profile.get('password')?.hasError('required')">
            Password is required
            </mat-error>
            <mat-error *ngIf="Profile.get('password')?.hasError('minlength')">
            Password must be at least 6 characters long
            </mat-error>

        </mat-form-field>

        <p class="terms-text">
          By pressing "Submit" you agree to our <a href="#">terms & conditions</a>
        </p>

        <button mat-fab color="primary" class="submit-btn"  (click)="logIn()" >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </form>

      
    </mat-tab>
 <mat-tab label="SIGNUP">
      <p></p>
       <form [formGroup]="SignUpProfile" class="form-section">
         <mat-form-field appearance="outline">
        <mat-label>
            Username
        </mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput  formControlName="username" placeholder="Username"/>
        <mat-error *ngIf="SignUpProfile.get('username')?.hasError('required')">
          Username is required  
        </mat-error>
        <mat-error *ngIf="SignUpProfile.get('username')?.hasError('minlength')">
          Username must be at least 3 characters long
        </mat-error>

        

       </mat-form-field>

<mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput  type="email" formControlName="email" placeholder="Email" />
            <mat-error *ngIf="SignUpProfile.get('email')?.hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="SignUpProfile.get('email')?.hasError('email')">
                Please enter a valid email address      
            </mat-error>
        </mat-form-field>

<mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput  type="password" formControlName="password" placeholder="Password" />
            <mat-error *ngIf="SignUpProfile.get('password')?.hasError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="SignUpProfile.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long
            </mat-error>
        </mat-form-field>



        <button mat-fab color="primary" class="submit-btn"  (click)="SignUp()" >
          <mat-icon>arrow_forward</mat-icon>
        </button>
       </form>
    </mat-tab>
   
  </mat-tab-group>

  <div class="social-login">
    <p>Or Signup with</p>
    <button mat-raised-button class="fb-btn">
      <i class="fab fa-facebook-f"></i> Facebook
    </button>
    <button mat-raised-button class="google-btn">
      <i class="fab fa-google"></i> Google
    </button>
  </div>
</div>
</div>
   
 