<div class="container-fluid row ">
<mat-card class="portal ">
  <div class="d-flex ">

    <h6 class="text-center ">Resource Booking</h6>
    <div class=" d-flex ms-auto ">

  
    <div class="py-2 " style="margin-right: 2px; font-size: large;">Student:[Username]</div>
    <button  class="btn btn-danger text-white ">LogOut</button>
  </div>
  </div>


  </mat-card>


  <mat-card class="second d-flex justify-content-center col-12 ">
    <div class="d-flex   button  py-5">
     <h6 class=" text md-text-small" style="border: solid 2px black;  ">Type:Class Room</h6>
     <h6 class="text md-text-small" style="border: solid 2px black;  " >Date: Mon</h6>

     <div class="ms-auto">
      <button class="btn btn-secondary">Search</button>
      
     </div>
    
      

  </div>

    

    <div class="third"></div>
    
  </mat-card>

 </div>
  
